<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>devices</key>
	<array>
		<dict>
			<key>baudrate</key>
			<integer>230400</integer>
			<key>communication_mode</key>
			<string>SERIAL</string>
			<key>databits</key>
			<integer>8</integer>
			<key>deviceType</key>
			<string>FIXTURE1</string>
			<key>name</key>
			<string>/dev/cu.usbserial-DUT1</string>
			<key>parity</key>
			<integer>0</integer>
			<key>stopbits</key>
			<integer>1</integer>
			<key>uID</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>baudrate</key>
			<integer>230400</integer>
			<key>communication_mode</key>
			<string>SERIAL</string>
			<key>databits</key>
			<integer>8</integer>
			<key>deviceType</key>
			<string>FIXTURE2</string>
			<key>name</key>
			<string>/dev/cu.usbserial-DUT2</string>
			<key>parity</key>
			<integer>0</integer>
			<key>stopbits</key>
			<integer>1</integer>
			<key>uID</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>baudrate</key>
			<integer>230400</integer>
			<key>communication_mode</key>
			<string>SERIAL</string>
			<key>databits</key>
			<integer>8</integer>
			<key>deviceType</key>
			<string>FIXTURE3</string>
			<key>name</key>
			<string>/dev/cu.usbserial-DUT3</string>
			<key>parity</key>
			<integer>0</integer>
			<key>stopbits</key>
			<integer>1</integer>
			<key>uID</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>baudrate</key>
			<integer>230400</integer>
			<key>communication_mode</key>
			<string>SERIAL</string>
			<key>databits</key>
			<integer>8</integer>
			<key>deviceType</key>
			<string>FIXTURE4</string>
			<key>name</key>
			<string>/dev/cu.usbserial-DUT4</string>
			<key>parity</key>
			<integer>0</integer>
			<key>stopbits</key>
			<integer>1</integer>
			<key>uID</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>baudrate</key>
			<integer>115200</integer>
			<key>communication_mode</key>
			<string>SERIAL</string>
			<key>databits</key>
			<integer>8</integer>
			<key>deviceType</key>
			<string>ControlBoard</string>
			<key>name</key>
			<string>/dev/cu.usbserial-Fixture</string>
			<key>parity</key>
			<integer>0</integer>
			<key>stopbits</key>
			<integer>1</integer>
			<key>uID</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>communication_mode</key>
			<string>SELF</string>
			<key>deviceType</key>
			<string>SELF</string>
			<key>uID</key>
			<integer>4</integer>
		</dict>
	</array>
	<key>isAlwaysCheck</key>
	<string>YES</string>
	<key>isConfirmBeforeTest</key>
	<string>NO</string>
	<key>isOfflineTest</key>
	<false/>
	<key>isStepRun</key>
	<false/>
	<key>lifeSpan</key>
	<integer>100000</integer>
	<key>logEnabled</key>
	<string>YES</string>
	<key>testPlugin</key>
	<array>
		<string>SerialPlugin</string>
		<string>SelfPlugin</string>
	</array>
	<key>zmqTestPlugin</key>
	<array>
		<string>MutablePlugin</string>
		<string>BKLTTestPlugin</string>
		<string>WavePlugin</string>
		<string>CBPlugin</string>
		<string>HWIOPlugin</string>
	</array>
	<key>password</key>
	<string>123456</string>
	<key>cbPassword</key>
	<string></string>
	<key>reportPlugin</key>
	<array>
		<string>EngineerLogPlugin</string>
		<string>CSVDataLogPlugin</string>
		<string>IACXmlLogPlugin</string>
		<string>UartLogPlugin</string>
		<string>PdcaPlugin</string>
	</array>
	<key>softwareName</key>
	<string>P7D FCT</string>
	<key>softwareVersion</key>
	<string>V1.0.1</string>
	<key>testplanVersion</key>
	<string></string>
	<key>jsonFilePath</key>
	<string>zmqports</string>
	<key>tmpBlobFilePath</key>
	<array>
		<string>/vault/tmpBlob1/</string>
		<string>/vault/tmpBlob2/</string>
		<string>/vault/tmpBlob3/</string>
		<string>/vault/tmpBlob4/</string>
	</array>
	<key>uploadDataToPDCA</key>
	<string>YES</string>
	<key>issingleSlot</key>
	<true/>
	<key>startFileName</key>
	<array>
		<string>startItems</string>
		<string>startItems</string>
	</array>
	<key>testFileName</key>
	<array>
		<string>test</string>
		<string>test</string>
	</array>
	<key>resetFileName</key>
	<array>
		<string>resetItems</string>
		<string>resetItems</string>
	</array>
	<key>testFunctionDir</key>
	<dict>
		<key>Wave</key>
		<array>
			<string>thdn</string>
			<string>amplitude</string>
			<string>frequency</string>
		</array>
		<key>BKLTTest</key>
		<array>
			<string>bklt</string>
			<string>bkltfused</string>
			<string>bklttmp</string>
		</array>
		<key>MutableTest</key>
		<array>
			<string>powersequencemonitor</string>
			<string>&lt;&lt;comparesn&gt;&gt;</string>
			<string>powersequencedelta</string>
			<string>potassium</string>
			<string>mobilerestore</string>
			<string>iefised</string>
			<string>frequency</string>
			<string>efidelect</string>
			<string>diags</string>
			<string>paser</string>
			<string>delect</string>
			<string>delay</string>
			<string>vendor_id</string>
		</array>
		<key>HWIO</key>
		<array>
			<string>dmm</string>
			<string>supply</string>
			<string>eload</string>
			<string>measure</string>
			<string>relay</string>
			<string>disconnect</string>
			<string>button</string>
		</array>
		<key>CB</key>
		<array>
			<string>rtc</string>
			<string>clearlistedcb</string>
			<string>writecb</string>
		</array>
	</dict>
	<key>slotCount</key>
	<integer>1</integer>
	<key>uartLogFloderPath</key>
	<string>/vault/Uart_Log</string>
	<key>csvLogFloserPath</key>
	<string>/vault/Data_Log</string>
	<key>testplanFilePath</key>
	<string>test_plan__1.0.0_1.0.0</string>
	<key>jsonrpcVersion</key>
	<string>2.0</string>
	<key>idValue</key>
	<string>9b774e0c0d6711e7fggc9801a792f2a7</string>
	<key>pubChannel</key>
	<string>101</string>
	<key>cbPortKey</key>
	<string>FIXTURE</string>
	<key>sequenceFilePath</key>
	<string>/testerconfig/python-sequencer/x527/sequencer/sequencer.py</string>
	<key>expFilepath</key>
	<string>runSequencer</string>
</dict>
</plist>
